body {
    padding-left: 10%;
    padding-right: 10%;
}

body > article > form > fieldset > ul {
    list-style: none;
}
body > article > form > legend {
    font-size: 14px;
}
body > article > form > div > label.pure-checkbox {
    text-align: justify;
    font-size: 14px;
}
.msg-alert {
    text-align: center;
    display: none;
}